<h1>Showing Student details</h1>

<p><strong>Student Name: </strong> <%= @student.student_name %> </p>
<p><strong>Email Id: </strong> <%= @student.email_id %> </p>
<p><strong>Address: </strong> <%= @student.address %> </p>
<p><strong>Contact Number: </strong> <%= @student.contact_number %> </p>
<p><strong>Marks: </strong> <%= @student.marks %> </p></br>

<td><%= link_to "EDIT", edit_student_path(@student) %></td></br></br>
<td><%= link_to "Click here to choose the College" %></td>
